# Carga de datos a través de la función read_csv

In [2]:
%system pip install pandas
%system pip install sklearn
%system pip install tensorflow

['Collecting tensorflow',
 '  Downloading https://files.pythonhosted.org/packages/54/5f/e1b2d83b808f978f51b7ce109315154da3a3d4151aa59686002681f2e109/tensorflow-2.0.0-cp37-cp37m-win_amd64.whl (48.1MB)',
 'Collecting tensorflow-estimator<2.1.0,>=2.0.0 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/fc/08/8b927337b7019c374719145d1dceba21a8bb909b93b1ad6f8fb7d22c1ca1/tensorflow_estimator-2.0.1-py2.py3-none-any.whl (449kB)',
 'Collecting termcolor>=1.1.0 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/8a/48/a76be51647d0eb9f10e2a4511bf3ffb8cc1e6b14e9e4fab46173aa79f981/termcolor-1.1.0.tar.gz',
 'Collecting gast==0.2.2 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/4e/35/11749bf99b2d4e3cceb4d55ca22590b0d7c2c62b9de38ac4a4a7f4687421/gast-0.2.2.tar.gz',
 'Collecting absl-py>=0.7.0 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/3b/72/e6e483e2db953c11efa44ee21c5fdb6505c4dffa447b4263ca8af6676b62/absl-py-0.8.1.tar.gz (103kB)',
 'Requirement already satisfied: numpy<2.0,>=1.16.0 in c:\\users\\fabio salinas\\.conda\\envs\\ds4a_test\\lib\\site-packages (from tensorflow) (1.16.4)',
 'Requirement already satisfied: wrapt>=1.11.1 in c:\\users\\fabio salinas\\.conda\\envs\\ds4a_test\\lib\\site-packages (from tensorflow) (1.11.2)',
 'Collecting astor>=0.6.0 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/d1/4f/950dfae467b384fc96bc6469de25d832534f6b4441033c39f914efd13418/astor-0.8.0-py2.py3-none-any.whl',
 'Collecting opt-einsum>=2.3.2 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/b8/83/755bd5324777875e9dff19c2e59daec837d0378c09196634524a3d7269ac/opt_einsum-3.1.0.tar.gz (69kB)',
 'Collecting google-pasta>=0.1.6 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/d0/33/376510eb8d6246f3c30545f416b2263eee461e40940c2a4413c711bdf62d/google_pasta-0.1.7-py3-none-any.whl (52kB)',
 'Collecting keras-preprocessing>=1.0.5 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/28/6a/8c1f62c37212d9fc441a7e26736df51ce6f0e38455816445471f10da4f0a/Keras_Preprocessing-1.1.0-py2.py3-none-any.whl (41kB)',
 'Collecting protobuf>=3.6.1 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/a8/ae/a11b9b0c8e2410b11887881990b71f54ec39b17c4de2b5d850ef66aade8c/protobuf-3.10.0-cp37-cp37m-win_amd64.whl (1.0MB)',
 'Requirement already satisfied: six>=1.10.0 in c:\\users\\fabio salinas\\.conda\\envs\\ds4a_test\\lib\\site-packages (from tensorflow) (1.12.0)',
 'Collecting grpcio>=1.8.6 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/4c/e5/79974f0288e36be3205e71f91e0dbe2a5746ccaa84780c65c4d75fa4b269/grpcio-1.24.1-cp37-cp37m-win_amd64.whl (1.6MB)',
 'Requirement already satisfied: wheel>=0.26 in c:\\users\\fabio salinas\\.conda\\envs\\ds4a_test\\lib\\site-packages (from tensorflow) (0.33.4)',
 'Collecting keras-applications>=1.0.8 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/71/e3/19762fdfc62877ae9102edf6342d71b28fbfd9dea3d2f96a882ce099b03f/Keras_Applications-1.0.8-py3-none-any.whl (50kB)',
 'Collecting tensorboard<2.1.0,>=2.0.0 (from tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/9b/a6/e8ffa4e2ddb216449d34cfcb825ebb38206bee5c4553d69e7bc8bc2c5d64/tensorboard-2.0.0-py3-none-any.whl (3.8MB)',
 'Requirement already satisfied: setuptools in c:\\users\\fabio salinas\\.conda\\envs\\ds4a_test\\lib\\site-packages (from protobuf>=3.6.1->tensorflow) (41.0.1)',
 'Requirement already satisfied: h5py in c:\\users\\fabio salinas\\.conda\\envs\\ds4a_test\\lib\\site-packages (from keras-applications>=1.0.8->tensorflow) (2.9.0)',
 'Collecting markdown>=2.6.8 (from tensorboard<2.1.0,>=2.0.0->tensorflow)',
 '  Downloading https://files.pythonhosted.org/packages/c0/4e/fd492e91abdc2d2fcb70ef453064d980688762079397f779758e055f6575/Markdown-3.1.1-py2.py3-none-any.whl (87kB)',
 'Requirement already satisfied: werkzeug>=0.11.15 in c:\\users\\fabio salinas\\.conda\\envs\\ds4a_test\\lib\\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (0.15.4)',
 'Building wheels for collected packages: termcolor, gast, absl-py, opt-einsum',
 '  Building wheel for termcolor (setup.py): started',
 "  Building wheel for termcolor (setup.py): finished with status 'done'",
 '  Stored in directory: C:\\Users\\Fabio Salinas\\AppData\\Local\\pip\\Cache\\wheels\\7c\\06\\54\\bc84598ba1daf8f970247f550b175aaaee85f68b4b0c5ab2c6',
 '  Building wheel for gast (setup.py): started',
 "  Building wheel for gast (setup.py): finished with status 'done'",
 '  Stored in directory: C:\\Users\\Fabio Salinas\\AppData\\Local\\pip\\Cache\\wheels\\5c\\2e\\7e\\a1d4d4fcebe6c381f378ce7743a3ced3699feb89bcfbdadadd',
 '  Building wheel for absl-py (setup.py): started',
 "  Building wheel for absl-py (setup.py): finished with status 'done'",
 '  Stored in directory: C:\\Users\\Fabio Salinas\\AppData\\Local\\pip\\Cache\\wheels\\a7\\15\\a0\\0a0561549ad11cdc1bc8fa1191a353efd30facf6bfb507aefc',
 '  Building wheel for opt-einsum (setup.py): started',
 "  Building wheel for opt-einsum (setup.py): finished with status 'done'",
 '  Stored in directory: C:\\Users\\Fabio Salinas\\AppData\\Local\\pip\\Cache\\wheels\\2c\\b1\\94\\43d03e130b929aae7ba3f8d15cbd7bc0d1cb5bb38a5c721833',
 'Successfully built termcolor gast absl-py opt-einsum',
 'Installing collected packages: tensorflow-estimator, termcolor, gast, absl-py, astor, opt-einsum, google-pasta, keras-preprocessing, protobuf, grpcio, keras-applications, markdown, tensorboard, tensorflow',
 'Successfully installed absl-py-0.8.1 astor-0.8.0 gast-0.2.2 google-pasta-0.1.7 grpcio-1.24.1 keras-applications-1.0.8 keras-preprocessing-1.1.0 markdown-3.1.1 opt-einsum-3.1.0 protobuf-3.10.0 tensorboard-2.0.0 tensorflow-2.0.0 tensorflow-estimator-2.0.1 termcolor-1.1.0']

## Todos los Datasets son públicos y dentro del directorio Datasets encontramos la descripcion.

In [4]:
import pandas as pd
import os

%config IPCompleter.greedy=True

In [8]:
# Definimos el directorio de trabajo para comenzar a ejecutar...
mainpath = "C:/Users/Fabio Salinas/OneDrive/001_Especializacion_Inteligencia_de_Negocios/Semestre_2/Python_Programacion_Analitica/MATERIAL 01/datasets/"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath, filename)

# observamos que tiene cada objeto...
mainpath
filename
fullpath

'C:/Users/Fabio Salinas/OneDrive/001_Especializacion_Inteligencia_de_Negocios/Semestre_2/Python_Programacion_Analitica/MATERIAL 01/datasets/titanic/titanic3.csv'

#### VARIABLE DESCRIPTIONS:
###### pclass: Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd). Clase de pasajero
###### survival: Survival (0 = No; 1 = Yes). Dummy de sobrevivencia
###### name: Name (nombre del pasajero)
###### sex: Sex
###### age             Age
###### sibsp: Number of Siblings/Spouses Aboard (numero de esposas o esposos a bordo)
###### parch: Number of Parents/Children Aboard (numero de niños a bordo)
###### ticket: Ticket Number (numero del tiquete)
###### fare: Passenger Fare (tarifa que pagó)
###### cabin: Cabin (numero de camarote)
###### embarked: Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton) (donde hizo escala)
###### boat: Lifeboat (en que salvavidas se encontró)
###### body: Body Identification Number (numero del cuerpo)
###### home.dest: Home/Destination (hacia donde se dirigia el pasajero)

In [9]:
# Asignamos el contenido del archivo al objeto data
data = pd.read_csv(fullpath)
data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [10]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Ejemplos de los parámetros de la función read_csv
read.csv(filepath="~/Documents/PROGRAMACION ANALITICA/ML PYTHON/MATERIAL 01/datasets/titanic/titanic3.csv",
        sep = ",", 
        dtype={"ingresos":np.float64, "edad":np.int32}, 
        header=0,names={"ingresos", "edad"},
        skiprows=12, index_col=None, 
        skip_blank_lines=False, na_filter=False
        )

In [21]:
# Se puede concatenar el nombre de los archivos con el simbolo plus
fullpath = os.path.join(mainpath+"customer-churn-model", "Customer Churn Model.txt")
fullpath
data2 = pd.read_csv(fullpath)
#data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt")

In [23]:
data2.head()
# data2.head(n=2) # El argumento n permite definir la cantidad exacta de registros. Por defecto son 5

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False.

In [9]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [10]:
data_cols = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", 
                    header = None, names = data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a través de la función open

In [25]:
#mainpath
mainpath + "" + "customer-churn-model/Customer Churn Model.txt"

#data3 = open(mainpath + "" + "customer-churn-model/Customer Churn Model.txt",'r')

#data3.head()

'~/Documents/PROGRAMACION ANALITICA/ML PYTHON/MATERIAL 01/datasets/customer-churn-model/Customer Churn Model.txt'

In [26]:
cols = data3.readline().strip().split(",")
n_cols = len(cols)

NameError: name 'data3' is not defined

In [27]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

NameError: name 'cols' is not defined

In [103]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1

print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

NameError: name 'cols' is not defined

In [104]:
df3 = pd.DataFrame(main_dict)
df3.head()

Empty DataFrame
Columns: []
Index: []

## Lectura y escritura de ficheros

In [105]:
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "customer-churn-model/Tab Customer Churn Model.txt"

In [78]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

FileNotFoundError: [Errno 2] No such file or directory: '~/Documents/PROGRAMACION ANALITICA/ML PYTHON/MATERIAL 01/datasets//customer-churn-model/Customer Churn Model.txt'

In [106]:
df4 = pd.read_csv(outfile, sep = "\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Leer datos desde una URL

In [107]:
# Aquí vamos a buscar los datos de un resumen de medallas ganadas en los juegos olimpicos de los últimos años.
# Si tenemos medals.csv vemos toda la información en el navegador
# Python sabe automaticamente que los datos estan en una URL por el protocolo http (prefijo)

medals_url = "http://winterolympicsmedals.com/medals.csv"

In [108]:
medals_data = pd.read_csv(medals_url)

In [109]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

#### Ejercicio de descarga de datos con urllib3

###### Vamos a hacer un ejemplo usando la librería urllib3 para leer los datos desde una URL externa, procesarlos y convertirlos a un data frame de *python* antes de guardarlos en un CSV local.

In [28]:
import csv  
import urllib3

In [110]:

def downloadFromURL(url, filename, sep = ",", delim = "\n", encoding="utf-8", 
                   mainpath = "~/Documents/PROGRAMACION ANALITICA/ML PYTHON/MATERIAL 01/datasets/"):
    #primero importamos la librería y hacemos la conexión con la web de los datos
    import urllib3
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data ## CORREGIDO: eliminado un doble decode que daba error
    
    #El objeto reponse contiene un string binario, así que lo convertimos a un string descodificándolo en UTF-8
    str_data = response.decode(encoding)

    #Dividimos el string en un array de filas, separándolo por intros
    lines = str_data.split(delim)

    #La primera línea contiene la cabecera, así que la extraemos
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    #Generamos un diccionario vacío donde irá la información procesada desde la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    #Procesamos fila a fila la información para ir rellenando el diccionario con los datos como hicimos antes
    for line in lines:
        #Nos saltamos la primera línea que es la que contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            #Añadimos cada valor a su respectiva columna del diccionario
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter += 1

    print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

    #Convertimos el diccionario procesado a Data Frame y comprobamos que los datos son correctos
    df = pd.DataFrame(main_dict)
    print(df.head())

    #Elegimos donde guardarlo (en la carpeta athletes es donde tiene más sentido por el contexto del análisis)
    fullpath = os.path.join(mainpath, filename)

    #Lo guardamos en CSV, en JSON o en Excel según queramos
    df.to_csv(fullpath+".csv")
    df.to_json(fullpath+".json")
    df.to_excel(fullpath+".xls")
    print("Los ficheros se han guardado correctamente en: "+fullpath)
    
    return df

In [111]:
medals_df = downloadFromURL(medals_url, "athletes/downloaded_medals")
medals_df.head()

El estado de la respuesta es 200
El data set tiene 2312 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold

FileNotFoundError: [Errno 2] No such file or directory: '~/Documents/PROGRAMACION ANALITICA/ML PYTHON/MATERIAL 01/datasets/athletes/downloaded_medals.json'

## Ficheros XLS y XLSX

In [29]:
mainpath = "~/Documents/PROGRAMACION ANALITICA/ML PYTHON/MATERIAL 01/datasets/"
filename = "titanic/titanic3.xls"

In [30]:
titanic2 = pd.read_excel(mainpath + "/" + filename, "titanic3")

In [31]:
titanic3 = pd.read_excel(mainpath + "/" + filename, "titanic3")

In [32]:
titanic3.to_csv(mainpath + "/titanic/titanic_custom.csv")

In [33]:
titanic3.to_excel(mainpath + "/titanic/titanic_custom.xls")

In [37]:
titanic3.to_json(mainpath + "/titanic/titanic_custom.json")

data = titanic3.to_json(mainpath + "/titanic/titanic_custom.json")

titanic2.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"